<div class="modal-header">
</div>
<form ng-submit="submitForm()">
  <div class="modal-content">
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" ng-model="person.firstName" class="form-control" name="firstName" placeholder="First Name">
      </div>
      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" ng-model="person.lastName" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
      </div>
      <div class="form-group">
          <label for="emailAdd">Email address</label>
          <input type="email" ng-model="person.emailAdd" class="form-control" id="emailAdd" name="emailAdd" placeholder="Email">
      </div>
      <div class="form-group">
          <label for="title">Title</label>
          <input type="text" ng-model="person.title" class="form-control" id="title" name="title" placeholder="Title">
      </div>
      <div class="form-group">
          <label for="reportingTo">Reporting To</label>
          <input type="text" ng-model="person.reportingTo" class="form-control" id="reportingTo" name="reportingTo" placeholder="Title">
      </div>
      <div class="form-group">
          <label for="role">Role</label>
          <input type="text" ng-model="person.role" class="form-control" id="role" name="role" placeholder="Role">
      </div>
      <div class="form-group">
          <label for="role">Linkedin URL</label>
          <input type="text" ng-model="person.linkedinURL" class="form-control" id="linkedinURL" name="linkedinURL" placeholder="Linkedin URL">
      </div>
      <div class="checkbox">
          <label>
              <input type="checkbox" id="person.primaryCompany" ng-model="primaryCompany" name="primaryCompany">Is Primary Company
          </label>
      </div>
      <div class="model-footer">
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>
</form>

</div>
